[SddmGreeterTheme]
Name=Strata
Description=Minimal two-screen login theme for Strata
Author=ankh
Version=2.0
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
